@model IEnumerable<barbershop_web2.Models.User>


<a asp-action="userAdd">Add new user</a>
<div class="alert-danger"> @TempData["msj"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserNick)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPass)
                </td>
            </tr>
        }
    </tbody>
</table>
