@model barbershop_web3.Models.Service

@{
    ViewData["Title"] = "Edit Service";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="center-form row">
    <div class="col-md-6">

<form method="post">
    <div class="form-group">
        <label for="ServiceName">Servis Adı</label>
        <input type="text" class="form-control" id="ServiceName" name="ServiceName" value="@Model.ServiceName" required />
    </div>

    <div class="form-group">
        <label for="Time">Süre (Saat)</label>
        <input type="number" class="form-control" id="Time" name="Time" value="@Model.Time" required />
    </div>

    <div class="form-group">
        <label for="Price">Ücret</label>
        <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price" required />
    </div>

    <!-- ServiceID'nin gizli alan olarak gönderilmesi -->
    <input type="hidden" name="ServiceID" value="@Model.ServiceID" />

    <button type="submit" class="btn btn-primary btn-custom">Save Changes</button>
    <a href="@Url.Action("Index", "Services")" class="btn btn-secondary btn-custom">Cancel</a>
</form>

</div>
</div>


<hr />
<h4>Service Details</h4>
<p><strong>Service Name:</strong> @Model.ServiceName</p>
<p><strong>Time (hours):</strong> @Model.Time</p>
<p><strong>Price:</strong> @Model.Price</p>
